<section class="page">
<h2 class="page__title">会員登録</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- 名（漢字） -->
  <div class="form__row">
    <label class="form__label">姓</label>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "email", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>

  <!-- 名（漢字） -->
  <div class="form__row">
    <label class="form__label">名</label>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "email", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>

  <!-- セイ（カナ） -->
  <div class="form__row">
    <label class="form__label">セイ</label>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "email", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>
  
  <!-- メイ（カナ） -->
  <div class="form__row">
    <label class="form__label">メイ</label>
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "email", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>
  
  <!-- メールアドレス -->
  <div class="form__row">
    <label class="form__label">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>
  
  <!-- 電話番号 -->
  <div class="form__row">
    <label class="form__label">電話番号</label>
    <%= f.text_field :phone, autofocus: true, autocomplete: "email", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>

  <!-- 郵便番号 -->
  <div class="form__row">
    <label class="form__label">郵便番号</label>
    <%= f.text_field :postalcode, autofocus: true, autocomplete: "email", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>
  
  <!-- 住所 -->
  <div class="form__row">
    <label class="form__label">住所</label>
    <%= f.text_field :adress, autofocus: true, autocomplete: "email", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>
 
  <!-- パスワード -->
  <div class="form__row">
    <label class="form__label">パスワード</label>
    <%= f.password_field :password, autocomplete: "new-password", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% elsif @minimum_password_length %>
      <em class="form__condition">*<%= @minimum_password_length %> characters minimum</em>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>

  <!-- パスワード確認 -->
  <div class="form__row">
    <label class="form__label">パスワード確認</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "登録", class:"btn btn__signup" %>
  </div>
<% end %>
<div class="page__bottom">
  <%= render "customers/shared/links" %>
</div>
</section>
