<section class="page">
<h2 class="page__title">会員登録</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form__row">
    <%= f.label :email, class:"form__label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>

  <div class="form__row">
    <%= f.label :password, class:"form__label" %>
    <%= f.password_field :password, autocomplete: "new-password", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% elsif @minimum_password_length %>
      <em class="form__condition">*<%= @minimum_password_length %> characters minimum</em>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>

  <div class="form__row">
    <%= f.label :password_confirmation, class:"form__label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります。</p>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "登録", class:"btn btn__signup" %>
  </div>
<% end %>
<div class="page__bottom">
  <%= render "customers/shared/links" %>
</div>
</section>
