<div id="cart" class="customer__carts">                                            
  <% @cart.each do |cart| %>
  <div class="customer__cart">
    <div class="customer__cart customer__cart--id"><%= cart.id %></div>
    <div class="customer__cart customer__cart--img"><%= cart.album.jacket_image %></div>
    <div class="customer__cart customer__cart--name"><%= cart.album.album_name %></div>
    
    <div class="customer__cart customer__cart--label"><%= cart.album.label %></div>
    <div class="customer__cart customer__cart--price"><%= cart.album.price %></div>
    
  </div>
  <% end %>
</div><!-- customer__carts -->
