<div id="cart" class="customer__carts">                                            
  <% carts.each do |cart| %>
  <div class="customer__cart">
    <div class="customer__cart customer__cart--id"><%= cart.id %></div>
    <div class="customer__cart customer__cart--img"><%= cart.jacket_image %></div>
    <div class="customer__cart customer__cart--name"><%= cart.album_name %></div>
    <div class="customer__cart customer__cart--singer"><%= cart.singer %></div>
    <div class="customer__cart customer__cart--label"><%= cart.label %></div>
    <div class="customer__cart customer__cart--price"><%= cart.price %></div>
    <div class="customer__cart customer__cart--quantity"><%= cart.order_quantity %></div>
  </div>
  <% end %>
</div><!-- customer__carts -->
