<div class="page">
<h2 class="page__title">マイページ</h2>
<div class="customer__wrapper">
  <div class="customer__tabs">
    <div class="customer__tab is_selected">アカウント情報</div>
    <div class="customer__tab">カート商品一覧</div>
    <div class="customer__tab">購入履歴</div>
  </div><!-- customer__tabs -->

  <div id="info" class="customer__infos is_active customer__content">
    <div class="customer__info">
      <label class="customer__info--label">姓</label>
      <p class="customer__info--item"><%= @customer.last_name %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">名</label>
      <p class="customer__info--item"><%= @customer.first_name %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">セイ</label>
      <p class="customer__info--item"><%= @customer.last_name_kana %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">メイ</label>
      <p class="customer__info--item"><%= @customer.first_name_kana %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">メールアドレス</label>
      <p class="customer__info--item"><%= @customer.email %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">電話番号</label>
      <p class="customer__info--item"><%= @customer.phone %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">郵便番号</label>
      <p class="customer__info--item"><%= @customer.postalcode %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">住所</label>
      <p class="customer__info--item"><%= @customer.adress %></p>
    </div>

  </div><!-- cutomer__infos --> 


  <%= form_for :cart_albums, url: update_all_path, :html => { :method => :put } do |f| %>
  <div id="cart" class="customer__carts customer__content">
    <% if @cart.present? %>
    <% @cart.each do |c| %>
    <div class="customer__cart">
      <div class="customer__cart--left">
      <p class="customer__cart--item"><%= attachment_image_tag c.album, :jacket_image%></p>
      </div>
      <div class="customer__cart--right">
        <p class="customer__cart--item carting"><label>アルバム名：</label><%= c.album.album_name %></p>
        <p class="customer__cart--item carting"><label>アーティスト名：<label><%= c.album.singers.first.singer_name %></p>
        <p class="customer__cart--item carting"><label>レーベル名：</label><%= c.album.label %></p>
        <p class="customer__cart--item carting"><label>価格：</label><%= c.album.price %></p>
        <%= fields_for 'cart[]', c do |cart_fields| %>
          <%= cart_fields.number_field :order_quantity, class:"form__field" %>

        <p class="customer__cart--item carting"><label>カート数量：</label><%= c.order_quantity %></p>
        <%= link_to "削除", album_cart_albums_path(c.album), method: :delete, data: { confirm: '本当に消しますか？' } %>
        <% end %>

      </div>
      
    </div>
    
    <% end %>

    <%= f.submit '数量変更完了', class:"btn__login btn" %>
  <% end %>
  <% end %>

  </div><!-- customer__carts -->

  <div id="order" class="customer__orders customer__content">
  <% @order.each do |order| %>
    <div class="customer__order">
      <div class="customer__order--wrapper">
        <div class="customer__order--infos">
          <div class="customer__order--top">
            <div class="order__person">
              <label>購入者名：</label>
              <p class="customer__order--date"><%= order.first_name %></p>
              <p class="customer__order--date"><%= order.last_name %></p>
            </div>
            <div class="order__date">
              <label>購入日：</label>
              <p class="customer__order--date"><%= order.created_at.strftime("%Y-%m-%d") %></p>
            </div>
          </div>
          <div class="order__bottom">
            <p class="customer__order--adress"><label>発送先：</label><%= order.order_adress %></p>
            <p class="customer__order--price"><label>小計：</label><%= order.subtotal %></p>
            <p class="customer__order--price"><label>送料込みの総計:</label><%= order.subtotal + 500 %></p>
          <div class="customer__order--status">
            <label>配達状況：</label>
            <%= order.order_status %>
          </div>
          <% if order.order_albums.presence %>
            <% order.order_albums.each do |oa| %>
            <div class="customer__order--items">
              <!-- @orders.each do |order| -->
              <div class="customer__order--image">
                <%= attachment_image_tag oa, :jacket_image %>
              </div>
              <div class="order__inner">
                <div class="customer__order--name"><label>アルバム名：</label><%= oa.album_name %></div>
                <div class="customer__order--quantity"><label>注文数：</label><%= oa.stock_quanitity %></div>
                <div class="customer__order--subprice"><label>値段：</label><%= oa.price %></div>
              </div>
            </div>
            <% end %>
          <% end %>
      <p class="customer__order--item"></p>
      </div><!-- customer__order-wraooer -->
    </div><!-- customer__order -->
  <% end %>  
  </div><!-- order_bottom -->
  </div><!-- cutomer__orders --> 
</div><!-- page -->
