<div class="page">
<h2 class="page__title">マイページ</h2>
<div class="customer__wrapper">
  <div class="customer__tabs">
    <div class="customer__tab">アカウント情報</div>
    <div class="customer__tab">カート商品一覧</div>
    <div class="customer__tab">購入履歴</div>
  </div><!-- customer__tabs -->

  <div id="info" class="customer__infos">
    <div class="customer__info">
      <label class="customer__info--label">姓</label>
      <p class="customer__info--item"><%= @customer.first_name %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">名</label>
      <p class="customer__info--item"><%= @customer.last_name %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">セイ</label>
      <p class="customer__info--item"><%= @customer.first_name_kana %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">メイ</label>
      <p class="customer__info--item"><%= @customer.last_name_kana %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">メールアドレス</label>
      <p class="customer__info--item"><%= @customer.email %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">電話番号</label>
      <p class="customer__info--item"><%= @customer.phone %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">郵便番号</label>
      <p class="customer__info--item"><%= @customer.postalcode %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">住所</label>
      <p class="customer__info--item"><%= @customer.adress %></p>
    </div>

    <%= link_to "注文へ", new_customers_order_path %>
  </div><!-- cutomer__infos --> 

  <div id="cart" class="customer__carts">
    <div class="customer__cart">
    </div>
  </div><!-- customer__carts -->
  <div id="order" class="customer__orders">
  </div><!-- customer__orders -->
</div><!-- cutomer__wrapper --> 
</div><!-- page -->
