<h2>パスワード再発行</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field customer__field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions btn btn__login">
    <%= f.submit "パスワード再発行メールを送信する" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
