<section>

	<h2 class="page__title">ユーザー一覧</h2>
	<div>
	<% @customers.each do |customer| %>
	<div class="customer clearfix">
		<div class="customer__left">
			<p class="left"><%= "氏名: #{customer.last_name} #{customer.first_name}" %></p>
			<p class="left"><%= "カナ: #{customer.last_name_kana} #{customer.first_name_kana}"%></p>
			<p class="left"><%=  "メールアドレス: #{customer.email}"%></p>
		</div>

		<div class="customer__right">
			<p class="left"><%= "郵便番号: #{customer.postalcode}" %></p>
			<p class="left"><%= "住所: #{customer.adress}" %></p>
			<p><%= "登録日: #{customer.created_at.strftime('%Y/%m/%d')}" %></p>
			<p class="btn btn__login white"><%= link_to "詳細を見る", admins_customer_path(customer.id) %></p>
		</div>
	</div>
	<% end %>
	</div>


	<h2 class="page__title">退会済みユーザー一覧</h2>
	<div>
	<% @deleted_customers.each do |deleted_customer| %>
	<div class="customer clearfix">
		<div class="customer__left">
			<p class="left"><%= "氏名: #{deleted_customer.last_name} #{deleted_customer.first_name}" %></p>
			<p class="left"><%= "カナ: #{deleted_customer.last_name_kana} #{deleted_customer.first_name_kana}"%></p>
			<p class="left"><%=  "メールアドレス: #{deleted_customer.email}"%></p>
		</div>

		<div class="customer__right">
			<p class="left"><%= "郵便番号: #{deleted_customer.postalcode}" %></p>
			<p class="left"><%= "住所: #{deleted_customer.adress}" %></p>
			<p><%= "登録日: #{deleted_customer.created_at.strftime('%Y/%m/%d')}" %></p>
			<p class="btn btn__login white"><%= link_to "詳細を見る", admins_customer_path(deleted_customer.id) %></p>
		</div>
	</div>
	<% end %>
	</div>

</section>




