
<section class="page">
<h2 class="page__title">管理者ログイン</h2>
<div class="page__content">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form__row">
    <%= f.label :email, class:"form__label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります</p>
    <% end %>
  </div>

  <div class="form__row">
    <%= f.label :password, class:"form__label" %>
    <%= f.password_field :password, autocomplete: "current-password", class:"form__field" %>
    <% if alert %>
      <p class="form__alert alert alert-error"><%= alert %></p>
    <% else %>
      <p class="form__condition">*注意書きが入ります</p>
    <% end %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form__row">
      <div class="form__label"></div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn__login" %>
  </div>
<% end %>
<div class="page__bottom">
  <%= render "admins/shared/links" %>
</div>
</section>
