<div id="info" class="customer__infos is_active customer__content">
    <div class="customer__info">
      <label class="customer__info--label">アルバム</label>
      <p class="customer__info--item"><%= @album.album_name %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">価格</label>
      <p class="customer__info--item"><%= @album.price%></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">在庫数</label>
      <% if @album.stock_quantity == 0  %>
      <p class="customer__info--item"> 在庫切れ</p>
      <% else %>
      <p class="customer__info--item"><%= @album.stock_quantity %></p>

      <% end %>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">販売ステータス</label>
      <p class="customer__info--item"><%= @album.sales_status %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">ジャンル</label>
      <p class="customer__info--item"><%= @album.genre %></p>
    </div>
    <div class="customer__info">
      <label class="customer__info--label">レーベル</label>
      <p class="customer__info--item"><%= @album.label %></p>
    </div>
    
  </div>