
<section class="page">
<div class="album__img"><%= attachment_image_tag @album, :jacket_image , :fill,250,250  %></div>
<div class="customer__wrapper">
  <div class="customer__tabs">
    <div class="customer__tab is_selected">商品情報</div>
    <div class="customer__tab">含む曲</div>
    <div class="customer__tab">含むアーティスト</div>
    
  </div>
    <%= render "album_infos" %>
    <%= render "album_songs" %>
    <%= render "album_singers" %>

</section>
  <div class="btn__admins">
    <p class="btn__admin btn__login"><%= link_to "編集" , edit_admins_album_path(@album), class:"btn__link" %></p>
    <p class="btn__admin btn__destroy"><%= link_to "削除",  admins_album_path , class: "btn__link", method: :delete, data: { confirm: '本当に消しますか？' } %></p>
  </div>