<!DOCTYPE html>
<html>
  <head>
    <title>Matsumoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>
   <header class="header">
      <h1 class="header__title">
        <%=link_to "松本商店", root_path %>
      </h1>
      <nav class="header__navs">
        <ul class="header__nav">
        <!--エンドユーザーログイン時 -->
        <% if customer_signed_in? %>
     	  <li class="header__item">
              <%= link_to "ホーム", root_path %>  
          </li>
     	  <li class="header__item">
              <%= link_to "マイページ" , customer_path(current_customer.id)  %>  
          </li>
	  <li class="header__item">
              <%= link_to "お問い合わせ", new_contact_path  %>  
          </li>
     	  <li class="header__item">
              <%= link_to "ログアウト" , destroy_customer_session_path, :method => :delete %>  
          </li>
          <!--管理者ログイン時 -->
          <% elsif admin_signed_in? %>
     	  <li class="header__item">
              <%= link_to "商品一覧", admins_albums_path  %>  
          </li>
     	  <li class="header__item">
              <%= link_to "ユーザー一覧" , admins_customers_index_path  %>  
          </li>
     	  <li class="header__item">
              <%= link_to "商品追加" , new_admins_album_path  %>  
          </li>
     	  <li class="header__item">
              <%= link_to "お問い合わせ一覧", admins_contacts_path  %>  
          </li>
     	  <li class="header__item">
              <%= link_to "ログアウト",  destroy_admin_session_path, :method => :delete  %>  
          </li>
          <!--非ログイン時 -->
          <% else %>
     	  <li class="header__item">
              <%=link_to "ホーム", root_path %>
          </li>
     	  <li class="header__item">
              <%= link_to "ログイン", new_customer_session_path  %>  
          </li>
     	  <li class="header__item">
              <%= link_to "新規登録", new_customer_registration_path  %>  
          </li>
     	  <li class="header__item">
              <%= link_to "お問い合わせ", new_contact_path  %>  
          </li>
        <% end %>

        </ul>      
      </nav>
   </header>
    <%= yield %>
  </body>
</html>
